.userCreate__header
  %ul.userCreate__header__userstep
    %li.userCreate__header__userstep__box
      .userCreate__header__userstep__box__title
        %p.userinfo 会員情報
      .userCreate__header__userstep__box--circle
        %span
          = icon('fas', 'circle')
    %li.userCreate__header__userstep__box
      .userCreate__header__userstep__box__title
        %p.shippinginfo{ style: "color:#3CCACE" } 送付先情報
      .userCreate__header__userstep__box--circle{ style: "color:#3CCACE" }
        %span
          = icon('fas', 'circle')
    %li.userCreate__header__userstep__box
      .userCreate__header__userstep__box__title
        %p.complete 完了
      .userCreate__header__userstep__box--circle
        %span
          = icon('fas', 'circle')
  .userCreate__header__userstep__bar