.mypage__main
  .mypage__main__top
    .mypage__main__top__title
      #{current_user.nickname}さんのマイページ
    .mypage__main__top__profileBox
      .mypage__main__top__profileBox__profile--img
        イメージ画像
      .mypage__main__top__profileBox__info
        .mypage__main__top__profileBox__info__top
          .mypage__main__top__profileBox__info__top__rate
            評価：０
          .mypage__main__top__profileBox__info__top__items
            出品数：０
        .mypage__main__top__profileBox__info__profit
          今までの利益：¥0
  .mypage__main__favorite
    .mypage__main__favorite__title
      お気に入り
    .mypage__main__favorite__box
      .mypage__main__favorite__box__item
        Favorite#1
      .mypage__main__favorite__box__item
        Favorite#2
      .mypage__main__favorite__box__item
        Favorite#3
      .mypage__main__favorite__box__item
        Favorite#4
      .mypage__main__favorite__box__item
        Favorite#5
  .mypage__main__itemsBox
    .mypage__main__itemsBox__buyitems
      .mypage__main__itemsBox__buyitems__title
        購入品
      .mypage__main__itemsBox__buyitems__list
        .mypage__main__itemsBox__buyitems__list__item
          buyitem#1
        .mypage__main__itemsBox__buyitems__list__item
          buyitem#2
        .mypage__main__itemsBox__buyitems__list__item
          buyitem#3
        .mypage__main__itemsBox__buyitems__list__item
          buyitem#4
        .mypage__main__itemsBox__buyitems__list__item
          buyitem#5
  .mypage__main__itemsBox
    .mypage__main__itemsBox__saleitems
      .mypage__main__itemsBox__saleitems__title
        出品
      .mypage__main__itemsBox__saleitems__list
        .mypage__main__itemsBox__saleitems__list__item
          saleitem#1
        .mypage__main__itemsBox__saleitems__list__item
          saleitem#2
        .mypage__main__itemsBox__saleitems__list__item
          saleitem#3
        .mypage__main__itemsBox__saleitems__list__item
          saleitem#4
        .mypage__main__itemsBox__saleitems__list__item
          saleitem#5