= render "shared/single_header"

.userCreate
  .userCreate__index
    .userCreate__index__title
      新規登録画面
    %ul.userCreate__index__pattern
      %li.userCreate__index__pattern__mail
        = link_to new_user_registration_path, method: :get do
          .userCreate__index__pattern__mail--login
            = icon('far', 'envelope', class: "userCreate__index__pattern__mail--icon")
            %span<>
            メールアドレスで登録

= render "shared/single_footer"
