.single-footer {
  background-color: $singlePageBackgroundColor;
  text-align: center;
  height: 220px;
  padding: 40px 0;

  &__menu {

    &__list {
      color: black;
      text-decoration: none;
      font-size: 12px;
      margin-right: 16px;
    }
  }

  &__logo {
    margin: 40px auto 0;
  }

  &__copyright {
    font-size: 13px;
    margin: 8px 0 0;
  }
}