.notice {
  @include flash_message;
  background-color: #3CCACE;
}

.alert {
  @include flash_message;
  background-color: #FF0000;
}

#error_explanation {
  @include flash_message;
  background-color: #FF0000;
}