
.body{
  background-color: #eeeeee;
  width: 100vw;
  height: 100%;
}

.form{
  background-color: white;
  margin: 0 auto;
  width: 720px;
  .error{
    color: red;
  }
  
  &__items__main{
    padding: 40px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    &__title{
      font-weight: bold;
      span{
        @include neededAlert;
      }
    }
    &__text{
      font-size: small;
      margin-top: 10px;
    }
    .flexbox{
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 660px;
      cursor: pointer;
      .js-file{
        display: none;
      }
      
      .new-wrapper__main__preview{
        margin: 16px 0;
        display: flex;
        flex-wrap: wrap;
        &__image{
          position: relative;
          &__img{
            width: 131px;
            margin-right: 1px;
            height: 160px;
            object-fit: cover;
          }
          &__delete-btn{
            text-shadow: 0 0 2px white;
            cursor: pointer;
            position: absolute;
            top: 0px;
          }
        }
      }
      #image-wrapper{
        .form__items__main__image--field{
          cursor: pointer;
          width: 620px;
          height: 160px;
          margin: 16px auto;
          background-color: #eee;
          border: 1px dashed #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .fa-camera{
            position: absolute;
            top: 40px;
            font-size: 20px;
          }
          &__text{
            padding-top: 20px;
          }
        }
      }
    }
    
  }
  &__items{
    @include bottomColor;
    padding: 40px;
    &__name{
      &--title{
        font-weight: bold;
        span{
          @include neededAlert;
        }
      }
      &--column{
        @include borderStyle;
        height: auto;
        width: 100%;
        margin-top: 16px;
        input{
          height: 45px;
          padding: 0 16px;
          width:inherit ;
          outline: none;
          border: none;
        }
      }
    }
    &__description{
      margin-top: 32px;
      &--title{
        font-weight: bold;
        span{
          @include neededAlert;
        }
      }
      &--column{
          margin-top: 16px;
          width: 100%;
          @include borderStyle;
          height: auto;
          textarea{
            padding: 13px 16px;
            height: 145px;
            width: inherit;
            outline: none;
            border: none;
          }
      }
    }
  }
  &__details{
    @include bottomColor;
    height: auto;
    padding: 40px;
    &__category{
      &--title{
        p{
          color: #888888;
          font-weight: bold;
          margin-bottom: 24px;
        }
        font-weight: bold;
        span{
          @include neededAlert;
        }
      }
      &--column{
        @include borderStyle;
        height: 48px;
        margin-top: 16px;
        width: 100%;
        #list__category__parent{
          @include selectStyle;
        }
      }
      
      &--children{
        @include borderStyle;
        height: 48px;
        margin-top: 16px;
        width: 100%;
        #list__category__children{
          @include selectStyle;  
        }
      }
      &--grandchildren{
        @include borderStyle;
        height: 48px;
        margin-top: 16px;
        width: 100%;
        #list__category__grandchildren{
            @include selectStyle;
        }
      }
    }
    &__brand{
          margin-top: 32px;
      &--title{
          font-weight: bold;
        span{
          color:white;
          background-color:#888888;
          font-size: small;
          padding: 2px 5px;
          border-radius: 5px;
        }
      }
      &--column{
          @include borderStyle;
          height: 48px;
          width: 100%;
          margin-top: 16px;
        input{
          height: 45px;
          padding: 0 16px;
          width:inherit ;
          outline: none;
          border: none;
        }
      }
    }
    &__condition{
          margin-top: 32px ;
      &--title{
          font-weight: bold;
        span{
          @include neededAlert;
        }
      }
      &--column{
          @include borderStyle;
          height: 48px;
          width: 100%;
          margin-top: 16px;
        select{
          @include selectStyle;
        }
      }
    }
  }
  
    &__ship{
          @include bottomColor;
          height: auto;
          padding: 40px;
      &__cost{
          &--title{
            p{
              color: #888888;
              font-weight: bold;
              margin-bottom: 24px;
            }
            font-weight: bold;
            span{
              @include neededAlert;
            }
          }
          &--column{
            @include borderStyle;
            height: 48px;
            width: 100%;
            margin-top: 16px;
            select{
              @include selectStyle;
            }
          }
        }
      &__area{
          margin-top: 32px;
          &--title{
            font-weight: bold;
            span{
              @include neededAlert;
            }
          }
          &--column{
            @include borderStyle;
            height: 48px;
            width: 100%;
            margin-top: 16px;
            select{
              @include selectStyle;
            }
          }
        }
      &__days{
          margin-top: 32px;
          &--title{
            font-weight: bold;
            span{
              @include neededAlert;
            }
          }
          &--column{
            @include borderStyle;
            height: 48px;
            width: 100%;
            margin-top: 16px;
            select{
            @include selectStyle;
            }
          }
        }
      }
    &__sell{
        height: 498px;
        padding: 40px;
        position: relative;
      &__price{
          height: 150px;
          display: flex;
          justify-content: space-between;
          position: relative;
        &--title{
          font-weight: bold;
          p{
            color: #888888;
            font-weight: bold;
            margin-bottom: 24px;
          }
          span{
            @include neededAlert;
          }
        }
        &--column{
          height: 45px;
          position: absolute;
          right: 0px;
          bottom: 60px;
          .suggest{
            color: #888888;
            font-weight: bold;
            margin-left: 15px;
          }
          .error{
            margin-left: 15px;
          }
          input{
            @include borderStyle;
            height: 47px;
            text-align: right;
            width: 285px;
          }
        }
      }
      &__calc{
        height: 46px;
        width: 620px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        &--box{
          width: 300px;
          }
        &--result{
          height: 46px;
          width: 300px;
          .result__fee{
            text-align: center;
          }
        }
      }
      &__profit{
        height: 46px;
        width: 620px;
        display: flex;
        justify-content: space-between;
          &--box{
          width: 300px;
          }
        &--result{
        height: 46px;
        width: 300px;
          .result__profit{
            text-align: center;
          }
        }
      }
      .submit-btn{
        @include btnstyle;
        background-color: #3CCACE;
        color: white;
        position: absolute;
        top: 350px;
        left: 180px;
      }
      .exit-btn{
        @include btnstyle;
        background-color: lightslategrey;
        color: white;
        position: absolute;
        top: 425px;
        left: 180px;
      }
    }
  
}