.mypage {
  background-color: #eeeeee;
  display: flex;
}
.mypage__sidebar {
  background-color: white;
  margin: 30px 30px 30px 100px;
  font-size: 14px;
  &__box {
    &__title {
      @include side_bar_title;
    }
    &__list {
      width: 250px;
      &__item {
        @include side_bar_fram;
        @include side_bar_item;
      }
      &__item:hover {
        @include side_bar_item_hover;
      }
    }
  }
}