.userCreate__userinfo {
  @include user_input_box;
  &__title {
    @include user_title;
  }
  &__body {
    @include user_form_box;
    &__formbox {
      padding: 20px 0;
      &__title {
        text-align: left;
        padding-bottom: 4px;
        span {
          color: white;
          padding: 4px;
          background-color: #3CCACE;
          border-radius: 5px;
        }
        .any {
          background-color: #bbbbbb;
        }
      }
      &__form {
        display: flex;
        line-height: 50px;
        margin-bottom: 10px;
        @include form_box;
        select {
          width: 86px;
          height: 50px;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      &__harfform {
        display: inline-flex;
        line-height: 50px;
        margin-bottom: 10px;
        position: relative;
        &__harfword {
          width: 150px;
          padding-right: 20px;
          input {
            width: 140px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #bbbbbb;
          }
        }
      }
      &__next--button {
        input {
          @include user_button;
          color: white;
          cursor: pointer;
        }
      }
      &__personaltitle {
        font-size: 18px;
      }
    }
  }
}