.userLogin {
  @include user_background;
  &__userCreate {
    @include user_input_box;
    border-bottom: 1px solid #eeeeee;
    padding-top: 30px;
    &__title {
      font-size: 14px;
    }
    &__new {
      @include user_button;
      margin-top: 5px;
      &--button {
        color: white;
        line-height: 50px;
      }
    }
  }
  &__main {
    @include user_input_box;
    &__loginbox {
      &__title {
        padding: 10px;
        font-size: 16px;
      }
      &__form {
        padding: 10px 0;
        @include form_box;
      }
      &__login--button {
        input {
          @include user_button;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}