%main.main
  .mainVisual
    .mainVisual-content
      %h2.mainVisual-content__subtitle 人生を変えるフリマアプリ
      .mainVisual-content__text FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
      .mainVisual-content__btn
        %a.mainVisual-content__btn__appleBtn
          = image_tag src ="/assets/material/icon/appStoreLogo.svg"
        %a.mainVisual-content__btn__googleBtn
          = image_tag src ="/assets/material/icon/googlePlayLogo.svg"