テストページ
トップページ
- if user_signed_in?
  = link_to "マイページ", "#"
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "ログイン", new_user_session_path, method: :get
  = link_to "新規登録", users_path