
.categoryContainer{
  padding: 50px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  padding-bottom: 80px;
  .categoryContainerChart{
    width: 100%;
    &__head{
      margin: 0 auto;
      background-color:  #3CCACE;
      color: white;
      text-align: center;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
      width: 700px;
      padding: 10px;
    }
    .categoryLists{
      margin: 0 auto;
      width: 700px;
      background-color: white;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      color:#ffb340;
      text-decoration: none;
      padding: 20px;
    }
  }
  .categoryContainerBox{
    padding: 50px;
    &__lists{
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .categoryContainerBox-list{
        margin: 10px;
        width: 220px;
        position: relative;
        .categoryContainerBox-list__sold{
          position: absolute;
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index: 100;
          &__inner{
            transform: rotate(-45deg);
            font-size: 22px;
            margin:-28px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        &__image{
          background-color: white;
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
        }
        &__detail{
          background-color: white;
          color: #333;
          padding: 16px;
          .name{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            }
          .desc{
            font-size: 16px;
            display: flex;
            justify-content: space-between;
              .price{
                margin: 0;
                padding: 0;
              }
              .like{
                margin: 0;
                padding: 0;
              }
            }
          .tax{
            font-size: 10px;
            text-align: left;
          }
        }
        a {
          transition: 0.5s ;
        }
        a:hover {
          opacity: 0.5 ;
        }
      }
    }
  }
}
