@mixin btnstyle{
  height: 46px;
  width: 310px;
  border-radius: 4px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
@mixin neededAlert{
  color:white;
  background-color: #3CCACE;
  font-weight: bold;
  font-size: small;
  padding: 2px 5px;
  border-radius: 5px;
}
@mixin borderStyle{
  border: 1px solid #ccc;
  border-radius: 4px;
}
@mixin selectStyle{
  height: 45px;
  padding: 0 16px;
  width: inherit ;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
@mixin bottomColor{
border-bottom: 1px solid;
border-color: #eeeeee;
}

@mixin small_btn_style {
  margin: 0 10px;
  a {
    padding: 10px;
    border-radius: 5px;
    color: #777777;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
  }
  a:hover {
    color: #333333;
    border: 1px solid #aaaaaa;
  }
}